[build]
  command = "npm run build"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[env.production]
  [env.production.context.environment]
    REACT_APP_API_URL = "https://hrms-api-w4jz.onrender.com"
