fastapi==0.109.0
uvicorn==0.27.0
mongoengine==0.28.2
pymongo==4.7.3
python-dotenv==1.0.1
email-validator==2.1.1
pydantic==2.6.4
pydantic-settings==2.2.1
gunicorn==21.2.0
httptools==0.6.1
content:python-3.11.9